<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.rocket.privatebrowsing"
    split="privatebrowsing">
    <application>
        <activity android:name="org.mozilla.rocket.privatebrowsing.PrivateActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
</manifest>
